name: Gradle Release

on:
  workflow_dispatch:

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - run: git config user.name 'Nya Îžlimu'
      - run: git config user.email 'info@elimu.ai'

      - run: ./gradlew releaseClean
      - run: ./gradlew releasePrepare -PbumpType=patch
      - run: ./gradlew releasePerform
        env:
          GITHUB_TOKEN: ${{ github.token }}
